@import '../tokens/tokens.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-light);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-text: var(--color-text-light);
  --color-text-dark: var(--color-text-dark);
  --color-background: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
}

:root {
  --background-color: var(--color-background-light);
  --text-color: var(--color-text-light);
}

.dark {
  --background-color: var(--color-background-dark);
  --text-color: var(--color-text-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
